
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="admin/template">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | </title>


</head>
<body class="hold-transition sidebar-mini">

 
  <div layout:fragment="content1">
   <h1> Welcome to your Dash Board....</h1>
   <p> This is your Admin Dashboard....</p>
  </div>

</body>
</html>
