<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="admin/template">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Validation Form</title>

  <!-- Google Font: Source Sans Pro -->
  
</head>
<body class="hold-transition sidebar-mini">
<div layout:fragment="content1">

 
  

  <!-- Main Sidebar Container -->
  
  <!-- Content Wrapper. Contains page content -->
 
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Product</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"><a href="/product/list">Product</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"> Product Edit </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
            <div class="container my-3">
            <form id="quickForm" th:action="@{/product/update(id=${product.id})}"  th:object="${product}" 
            method="post" enctype="multipart/form-data" style="max-width : 400px; margin: 0 auto;">
        
         <div class="form-group">
          <label for="name">Name</label>
          <input type="text" th:field="*{name}" class="form-control" id="name"  placeholder="Enter Name">
        </div>
        
        <div class="form-group">
          <label for="category_id">Category</label>
          <select th:field="${product.category}" name="category" class="form-select">
          <option  th:each = "category:${listcategory}"
          			th:text = "${category.name}"
          			th:value = "${category.id}">
          </option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="brand_id">Brand</label>
          <select th:field="${product.brand}" name="brand" class="form-select">
          <option  th:each = "brand:${listBrand}"
          			th:text = "${brand.name}"
          			th:value = "${brand.id}">
          </option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="image">Image</label>
          <input type="file"  class="form-control" name="image1"  accept ="image/png,image/jpeg" />
        <img th:src="${product.PhotosImagePath}" width="80px" height="80px"/>
        
        </div>
        
        <input type="hidden" th:field="*{image}" class="form-control" name="image"/>
         
   <div class="form-group">
          <label for="mrp">Mrp</label>
          <input type="text" th:field="*{mrp}" class="form-control" id="mrp"  placeholder="Enter Mrp">
        </div>
        
        <div class="form-group">
          <label for="rate">Rate</label>
          <input type="text" th:field="*{rate}" class="form-control" id="rate"  placeholder="Enter Rate">
        </div>
        
        <button type="submit" name= "submit" class="btn btn-primary">Submit</button>
      </form>
         </div>   
            </div>
            <!-- /.card -->
            
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

<!-- ./wrapper -->

<!-- jQuery -->

<!-- Page specific script -->


</body>
</html>
